---
layout: app
name: roomservice
title: Roomservice
bundle_id: no.abello.roomservice
---
{% assign matching_builds = site.data | where: "bundle_id", page.bundle_id | group_by: "version" %}
{% assign sorted_builds = matching_builds | sort: "name" | reverse %}

{% assign latest_version = sorted_builds | last %}
{% assign latest_version_build = latest_version.items | sort % | first %}

<div align="center">
    <h1>Latest Build : {{ latest_version_build.version }}.{{ latest_version_build.build }}</h1>
    <a href="itms-services://?action=download-manifest&url={{ latest_version.manifest }}">Install</a>

    <h1>Old Versions :</h1>
    {% for builds in sorted_builds %}
    <div>
        <h1>Version {{ builds.name }}</h1>
        <h1>Builds : </h1>
        <table>
            {% assign sorted_version_builds = builds.items | sort: "build" | reverse %}
            {% for build in sorted_version_builds %}
            <tr>
                <td>{{ build.build }}</td>
                <td>
                    <a href="itms-services://?action=download-manifest&url={{ build.manifest }}">Install</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
